<div class="container">
<%= form_for(@company) do |form| %>
 
<hr>
  <div>
    <%= form.label :company_name, style: "display: block" %>
    <%= form.text_field :company_name %>
  </div>

  <div>
    <%= form.label :company_address, style: "display: block" %>
    <%= form.text_area :company_address %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :mobile, style: "display: block" %>
    <%= form.number_field :mobile %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>
</div>
